Source: python-segments
Maintainer: Duncan Macleod <duncan.macleod@ligo.org>
Section: python
Priority: optional
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python3-all,
               python-setuptools,
               python3-setuptools,

Package: python-segments
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-six
Description: Blah

Package: python3-segments
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-six
Description: Blah
